$primary-color: #3498db;
$secondary-color: #e74c3c;
$text-color: #333;
$background-color: #f4f4f4;
$light-gray: #ddd;

$outlet-bg: #aca7a7;
$outlet-button: #000;
$nueva-temporada-bg: #b2e3fa;
$rebajas-bg: #ffb3bf;
$oferta-bg: #ff8f53;
$oferta-border: brown;
$oferta-precio: red;
$precio-normal: black;

$main-font: 'Arial', sans-serif;

$breakpoint-tablet: 820px;